.wrapper {
    min-height: 250px;
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 10px;
    position: relative;
    transition: .2s;
    width: 100%;
    height: 100%;
}

.wrapper.hidden {
    opacity: .5;
}