.wrapper {
    display: grid;
    grid-template-columns: min-content 60% auto 220px;
    grid-gap: 20px;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background: rgba(128, 128, 128, 0.16);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: .2s;
    color: #484848;
    height: 70px;
}

.wrapper:hover {
    background: rgba(171, 171, 171, 0.57);
}


.label {
    font-size: 1.3rem;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date {
    justify-self: flex-end;
}
