.wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background: var(--bkg-color-l-7);
    border-radius: 10px;
    position: relative;
}

.image {
    width: 100px;
    height: calc(100px * 1.414);         /*A4 size*/
}

.label {
    font-size: 1.1rem;
    margin: 5px;
}

.delete {
    width: 20px;
    height: 20px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
}