.dropZone {
    width: 100%;
    height: 100%;
    position: absolute;
    border: solid 3px var(--bkg-color-l-7);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: border-color .3s, visibility .3s, opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    font-size: 30px;
    color: #2D2F34;
}

.dropZone.visible {
    opacity: .9;
    visibility: visible;
    transition: border-color .3s, visibility .0s, opacity .3s;
}

.dropZone.active {
    border-style: dashed;
    border-color: hsl(210, 50%, 50%);
}