body {
  --main-theme-color: hsl(210, 50%, 50%);
  --main-theme-color-darken: hsl(210, 50%, 35%);
  --link-bkg: hsl(210, 50%, 50%);
  --bkg-color-l-7: rgba(91, 94, 101, 0.52);
  --bkg-color-l-6: #42454b;
  --bkg-color-l-5: #34373c;
  --bkg-color-l-4: #2D2F34;
  --bkg-color-l-3: #27292D;
  --bkg-color-l-2: #1F2023;
  --bkg-color-l-1: #010101;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
